<!DOCTYPE html>
<html>

<head>
	<title>JEE ADVANCED</title>
</head>

<body style="background-color: #ffff00">
	<center>
	<form action=""> Enter Rank:
		<input type="text" name="rank">
		Select preferred branch:
		<button type="submit" formaction="jeeadvanced/cse">CSE</button>
		<button type="submit" formaction="jeeadvanced/eee">EEE</button>
	</form>
		<img src="https://www.pooripadhai.com/assets/image/competition-exams/jee-advanced-exam.png" width="50%" height="50%">
		</center>
</body>

</html>