<!DOCTYPE html>
<html>

<head>
	<title>JEE ADVANCED</title>
</head>

<body class="text-center" data-new-gr-c-s-check-loaded="14.997.0" data-gr-ext-installed="" style="background-color: #d0ffe3fb">
	<center>
			<img class="mb-4" src="https://www.jeeadv.iitb.ac.in/sites/www.jeeadv.iitb.ac.in/themes/touchm/logo.png" alt="" width="250" height="250">
			<hr class="mb-4">
			<div class="col-md-5 mb-3">
				<label for="rank">Enter your rank:</label>
			<input type="text" class="form-control" id="" placeholder="" value="" required="">
			</div>

			<div class="d-block my-3">
				<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
					<option selected>Select your preferred branch:</option>
					<option value="1">cse</option>
					<option value="2">ece</option>
				</select>
			</div>
			
			<div>
				<button type="button" class="btn btn-primary">Submit</button>
			</div>
		</center>
</body>

</html>