<!DOCTYPE html>
<html>

<head>
	<title>COMEDK</title>
</head>

<body style="background-color: #66ffff">
	<center>
		<form action="comedk/cse"> Enter Rank:
		<input type="text" name="rank"> 
		Select preferred branch:
        <button type="submit" formaction="comedk/cse">CSE</button>
		<button type="submit" formaction="comedk/ece">ECE</button>
		</form>
		<img src="https://static.toiimg.com/thumb/msid-66328383,width-1200,height-900,resizemode-4/.jpg" width="70%" height="100%">
	</center>
</body>

</html>