<!DOCTYPE html>
<html>

<head>
	<title>JEE MAINS</title>
</head>

<body style="background-color: #ff0000">
	<center>
	<form action=""> Enter Rank:
		<input type="text" name="rank">
		Select preferred branch:
		<button type="submit" formaction="jeemains/cse">CSE</button>
		<button type="submit" formaction="jeemains/ece">ECE</button>
		<button type="submit" formaction="jeemains/me">ME</button>
		<button type="submit" formaction="jeemains/eee">EEE</button>
	</form>
		<img src="https://www.dailypioneer.com/uploads/2019/story/images/big/jee-main-2020-admit-cardreleased-2019-12-06.jpg" width="50%" height="50%">
		
	</center>
</body>

</html>